div.contact{
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.contact h2{
    text-align: center;
}
div.twodiv {
    display: flex;
}
div.address{
    border: 2px solid lightblue;
    padding: 1rem 0 1rem 1rem;
    width: 50%;
    margin-left: 3em;
}
div.address p.addbuilding {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
div.address p.phone {
}
div.address p.phone a{
    text-decoration: none;
    color: black;
    padding-left: 1em;
}
div.address ul{}
div.address li{
    list-style-type: square;
}
div.address h4{
    
}
