div.mycart{
    padding: 1em 0 3em 0;
    width: 80%;
    margin: 0 auto;       
    text-align: center;
}
div.mycart h2{}
div.mycart form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
div.mycart form .group{
    display: flex;
    justify-content: space-around;
}
div.mycart form .group input {
    text-align: center;
    border-radius: 0.5em;
    outline: none;

}
div.mycart form .group label {
    border-radius: 0.5em;
}

.mycart .total-price {
    align-self: flex-end;
    width: 20%;
    margin: 1em;
   
}
.mycart .total-price label{
    padding-right: 0.5em;
}
.mycart .total-price input{
    padding: 10px;
    width: 60%;
    align-self: flex-end;
    outline: none;
    font-size: 20px;
    border: 1px solid rgb(116, 56, 112);
    background-color: whitesmoke;
    border-radius: 0.5em;
}
.mycart div.buttons {
    display: flex;
    align-items: flex-end;
}
 
.mycart [type="submit"],
.after-order {
    width: 20%;
    align-self: flex-end;
    padding: 10px 20px;
    margin: 20px;   
    background-color: rgb(116, 56, 112);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid rgb(116, 56, 112);
    border-radius: 0.5em;
    text-decoration: none;
}
 
.mycart [type="submit"]:hover,
.after-order:hover {
    background-color: white;
    border-radius: 0.5em;
    color: rgb(116, 56, 112);
 
}


.cart-empty {
  color:  rgb(23, 59, 49);
  font-size: 2em;
  margin: 3em;

}