.myorders{
    margin: 0 auto;
    padding: 2em 0;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.myorders h2{
    text-align: center;
}
.myorders .orderdetails{
    border: 2px solid rgb(23, 59, 49);
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1em;
}

.myorders .orderdetails div.info{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.orderdetails div.info p span {
    color: rgb(185, 46, 21);
}

.orderdetails div.list{}
.orderdetails div.list ul{}
.orderdetails ul li{
    list-style: none outside;
}
.orderdetails div.list ul p{
    padding-top: 2em;
}
.orderdetails div.list ul button,
.orderdetails div.list button{
    padding: 10px 20px;
    border-radius: 0.5em;
    background-color:rgb(49, 128, 105);
    color: whitesmoke;
    border: none;
    font-size: 18px;

}
     
.orderdetails div.list > button {
    margin-left: 40px;
}

.orderdetails div.list ul button:hover,
.orderdetails div.list button:hover {
    background-color:whitesmoke;
    color: rgb(49, 128, 105);

}


.mycart [type="submit"],
.after-order {
    width: 20%;
    align-self: flex-end;
    padding: 10px 20px;
    margin: 20px;   
    background-color: rgb(116, 56, 112);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid rgb(116, 56, 112);
    border-radius: 0.5em;
    text-decoration: none;
}
 
.mycart [type="submit"]:hover,
.after-order:hover {
    background-color: white;
    border-radius: 0.5em;
    color: rgb(116, 56, 112);
}


.cart-empty {
  color:  rgb(23, 59, 49);
  font-size: 2em;
  margin: 3em;

}
.myorders .important-info {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.myorders .important-info {
    border: 2px solid rgb(153, 5, 5);
    padding: 0.5em;
}

.myorders .important-info h4{
    text-align: center;
}
.myorders .important-info > p > span {
    text-decoration: underline;
    color: rgb(153, 5, 5);
}
.myorders > h2 > .star {
    size: 1em;
}

.myorders .payment-link {
    text-decoration: none;
    background: #f44336;
    color: white;
    padding: 0.3em;
    border-radius: 0.5em;
}

.myorders .payment-link:hover {
    background:#48be48;
    color: #f44336;
}